@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url(./assets/fonts/Pretendard-Black.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url(./assets/fonts/Pretendard-ExtraBold.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(./assets/fonts/Pretendard-Bold.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(./assets/fonts/Pretendard-SemiBold.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url(./assets/fonts/Pretendard-Medium.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(./assets/fonts/Pretendard-Regular.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url(./assets/fonts/Pretendard-Light.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url(./assets/fonts/Pretendard-ExtraLight.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url(./assets/fonts/Pretendard-Thin.subset.woff2) format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900;
  font-display: swap;
  src:
    local('NanumSquareNeo Heavy'),
    url(./assets/fonts/NanumSquareNeoTTF-eHv.woff2) format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700;
  font-display: swap;
  src:
    local('NanumSquareNeo Extra Bold'),
    url(./assets/fonts/NanumSquareNeoTTF-dEb.woff2) format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  font-display: swap;
  src:
    local('NanumSquareNeo Regular'),
    url(./assets/fonts/NanumSquareNeoTTF-bRg.woff2) format('woff2');
}

/* * {
  font-family: serif;
} */

.member-dropdown {
  width: 131px;
  padding: 0 5px;
  font-size: 12px;
  border: 0.5px solid #D5D9E2;
  border-radius: 8px;
  background-color: #fff;
  color: #777777;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  height: 26px;
  white-space: nowrap;

}

.member-dropdown-items {
  width: 131px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  padding: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transform: translate(0, -4px);
}

.member-dropdown-item {
  height: 19px;
  font-family: Pretendard;
  color: #777;
  font-weight: 500;
  width: 100%;
}

.member-dropdown-item:hover {
  border-radius: 2px;
  background: #D5D9E2;
}